{extend name="layout" /}
{block name="css"}{/block}
{block name="body"}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>分部列表<small> </small></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>分部名称</th>
                <th>负责人</th>
                <th>联系电话</th>
                <th>分部人数</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            {volist name='list' id='m'}
            <tr>
                <td>{$m.id}</td>
                <td>{$m.subject}</td>
                <td>{$m.leader.chinese}</td>
                <td>{$m.leader.phone}</td>
                <td>{$m.totalmember}</td>
                <td>
                    <a href='{:Url("index/branch/add",["id"=>$m.id])}' class="btn btn-primary">修改</a>
                    <a href='{:Url("index/branch/member",["branchid"=>$m.id])}' class="btn btn-primary">查看会员</a>
                    <a href='{:Url("index/branch/addToBranch",["branchid"=>$m.id, "branchname"=>$m.subject])}' class="btn btn-primary">添加会员</a>
                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
        {$list->render()}
    </div>

</div>
{/block}

{block name="js"}{/block}