.idea
composer.lock
*.log
thinkphp
/public/node_modules/
public/node_modules/.bin/
public/node_modules/asap/
public/node_modules/core-js/
public/node_modules/encoding/
public/node_modules/fbjs/
public/node_modules/iconv-lite/
public/node_modules/is-stream/
public/node_modules/isomorphic-fetch/
public/node_modules/js-tokens/
public/node_modules/loose-envify/
public/node_modules/node-fetch/
public/node_modules/object-assign/
public/node_modules/promise/
public/node_modules/react-dom/
public/node_modules/react/
public/node_modules/ua-parser-js/
public/node_modules/whatwg-fetch/
public/build/
.gitignore
