{extend name="layout" /}
{block name="css"}{/block}
{block name="body"}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>活动报名情况查看<small> </small></h5>
    </div>


    <div class="ibox-content">
        <input type="hidden" value='{notempty name="requestUrl"}{$requestUrl}{/notempty}' name="requestUrl" id="requestUrl">
        <div class="form-group">
            <Button id="btnSubmit" class="col-sm-2 btn btn-primary">设置审核</Button>
            <div class="col-sm-4">
                <select class="form-control" name="isApproval" id="isApproval">
                    <option value="1" >通过审核</option>
                    <option value="0" selected>未通过审核</option>
                </select>
            </div>

            <Button id="btnPaid" class="col-sm-2 btn btn-primary">设置支付状态</Button>
            <div class="col-sm-4">
                <select class="form-control" name="isPaid" id="isPaid">
                    <option value="1" >已支付</option>
                    <option value="0" selected>未支付</option>
                </select>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkAll" name="checkAll" class="form-control"></th>
                 <th>活动名称</th>
                <th>子活动</th>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>通过?</th>
                <th>支付?</th>
                <th>备注</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='m'}
            <tr>
                <td><input type="checkbox" value="{$m.id}" name="selectedMember"  class="form-control selectedMember"></td>
                     <td>{$m.activityItem.activity.subject}</td>
                    <td>{$m.activityItem.subject}</td>
                    <td>{$m.chinese}</td>
                    <td>{$m.phone}</td>
                    <td>{$m.email}</td>
                    <td>{$m.isapproval}</td>
                    <td>{$m.ispaid}</td>
                    <td>{$m.description}</td>
                    <td></td>
                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
        {$list->render()}
    </div>

</div>
{/block}

{block name="js"}
{load href="__PUBLIC__/view/user/show.js" /}

{/block}