{extend name="layout" /}
{block name="css"}{/block}
{block name="body"}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>分部管理<small> </small></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>活动名称</th>
                <th>状态</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            {volist name='list' id='m'}
            <tr>
                <td>{$m.id}</td>
                <td>{$m.subject}</td>
                <td>{$m.isdeleted}</td>
                <td>
                    <a href='{:Url("index/activity/add",["id"=>$m.id])}' class="btn btn-primary">修改</a>
                    <a href='{:Url("index/activity/showactivityitem",["activityid"=>$m.id])}' class="btn btn-primary">活动详情</a>
                    <a href='{:Url("index/activity/delete",["id"=>$m.id, "branchname"=>$m.subject])}' class="btn btn-primary">暂停活动</a>
                    <a href='{:Url("index/activity/showallmember",["id"=>$m.id, "branchname"=>$m.subject])}' class="btn btn-primary">全部报名人数</a>

                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
        {$list->render()}
    </div>
</div>
{/block}
{block name="js"}

{/block}