{extend name="layout" /}
{block name="css"}{/block}
{block name="search"}{/block}

{block name="body"}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>查看新闻<small> </small></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>新闻标题</th>
                <th>分类</th>
                <th>作者</th>
                <th>热门</th>
                <th>置顶</th>
                <th>推荐</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            {volist name='list' id='m'}
            <tr>
                <td>{$m.id}</td>
                <td>{$m.subject}</td>
                <td>{$m.catalog.subject}</td>
                <td>{$m.author}</td>
                <td>{$m.ishot}</td>
                <td>{$m.istop}</td>
                <td>{$m.isrecommend}</td>
                <td>{$m.create_time}</td>
                <td>{$m.update_time}</td>
                <td>
                    <a href='{:Url("index/news/add",["id"=>$m.id])}' class="btn btn-primary">修改</a>
                    <a href='{:Url("index/news/remove",["id"=>$m.id])}' class="btn btn-danger">删除</a>
                </td>
            </tr>
            {/volist}

            </tbody>
        </table>
        {$list->render()}
    </div>
</div>
{/block}

{block name="js"}
{/block}