{extend name="layout" /}
{block name="css"}{/block}
{block name="search"}{/block}

{block name="body"}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>组内用户<small> </small></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>显示名称</th>
                <th>模块</th>
                <th>控制器</th>
                <th>Action</th>
                <th>序号</th>
                <th>图标</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            {volist name='list' id='m'}
            <tr>
                <td>{$m.id}</td>
                <th>{$m.subject}</th>
                <td>{$m.module}</td>
                <td>{$m.controller}</td>
                <td>{$m.action}</td>
                <td>{$m.seqno}</td>
                <td>{$m.icon}</td>
                <td>
                    <a href='{:Url("index/group/deleteModule",["mid"=>$m.id, "gid"=>$gid])}' class="btn btn-primary">移除</a>

                </td>
            </tr>
            {/volist}

            </tbody>
        </table>

    </div>

</div>

{/block}

{block name="js"}
{/block}