{extend name="layout" /}
{block name="css"}{/block}
{block name="search"}{/block}

{block name="body"}

 <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>组内用户<small> </small></h5>
    </div>
    <div class="ibox-content">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>电话</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            {volist name='list' id='m'}
            <tr>
                <td>{$m.id}</td>
                <td>{$m.chinese}</td>
                <td>{$m.phone}</td>
                <td>
                    <a href='{:Url("index/group/deleteUser",["uid"=>$m.id, "gid"=>$gid])}' class="btn btn-primary">移除</a>

                </td>
            </tr>
            {/volist}

            </tbody>
        </table>

    </div>

</div>

{/block}

{block name="js"}
{/block}