{extend name="layout" /}
{block name="css"}{/block}
{block name="body"}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>后台用户管理<small> </small></h5>
    </div>
    <div class="ibox-content">
        <form method="post" class="form-horizontal" action='{:url("index/user/add")}'>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    {notempty name="message"}
                    <div class="alert alert-warning">
                        <a class="close" data-dismiss="alert">×</a>
                        {foreach $message as $vo}
                        {$vo}<br/>
                        {/foreach}
                    </div>
                    {/notempty}
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">登录名称</label>
                <div class="col-sm-10"><input type="text" class="form-control" name="username" value='{notempty name="username"}{$username}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">电子邮件</label>
                <div class="col-sm-10"><input type="text" class="form-control" name="email" value='{notempty name="email"}{$email}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">中文姓名</label>
                <div class="col-sm-10"><input type="text" class="form-control" name="chinese" value='{notempty name="chinese"}{$chinese}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">联系电话</label>
                <div class="col-sm-10"><input type="text" class="form-control" name="phone" value='{notempty name="phone"}{$phone}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10"><input type="password" class="form-control" name="password" value='{notempty name="password"}{$password}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10"><input type="password" class="form-control" name="repassword" value='{notempty name="repassword"}{$repassword}{/notempty}'></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-white" type="submit">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <input type="hidden" name="id" id="id" value='{notempty name="id"}{$id}{/notempty}' class="form-control">
                    <input type="hidden" id="requestUrl" name="requestUrl" value='{notempty name="requestUrl"}{$requestUrl}{/notempty}' class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="js"}

{/block}